.product_path_section {
    background: #F9F1E7;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 27px 0px 26px 100px;
    margin-top: 22px;
}

.nav_link_home {
    padding-right: 13px;
}

.nav_link_shop {
    padding-left: 24px;
    padding-right: 22px;
}

.nav_link {
    color: #9F9F9F;
}

.product_name {
    margin-left: 25px;
    border-left: 2px solid #9F9F9F;
    padding: 9px 33px;
}