.description_section {
    padding-top: 48px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.description_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

.description_link_relative {
    position: relative;
}

.description_label {
    color: #9F9F9F;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

.description_link {
    position: absolute;
    opacity: 0;
}

.description_link:checked+.description_label {
    color: #000;
    font-weight: 500;
}

.description_hidden {
    display: none;
}

.page {
    padding-top: 37px;
    text-align: left;
}

.page_fish_text {
    margin-left: auto;
    margin-right: auto;
    width: 1026px;
    color: #9F9F9F;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}

.active_page_photos {
    display: flex;
    justify-content: center;
    gap: 29px;
    align-items: center;
}

.avtive_photo_container {
    border-radius: 10px;
    background-color: #F9F1E7;
    display: inline-block;
}