.shop_header_back {
    width: 100%;
}

.shop_header_text {
    position: absolute;
    top: 222px;
    left: 50%;
    transform: translateX(-50%);
}


.shop_header_header {
    font-size: 48px;
    font-weight: 600;
}

.shop_header_header_checkout {
    font-size: 48px;
    font-weight: 600;
    margin-left: 20px;
}

.shop_header_text_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.shop_header_link {
    color: #000;
    font-size: 16px;
    font-weight: 300;
}

.home_header_link {
    font-weight: 700;
}

.shop_header_icon {
    position: absolute;
    top: -60px;
    left: 60px;
}

.shop_header_icon_blog {
    position: absolute;
    top: -60px;
    left: 20px;
}

.shop_header_icon_comparison {
    position: absolute;
    top: -61px;
    left: 210px;
}

.shop_header_icon_checkout {
    position: absolute;
    top: -61px;
    left: 78px;
}

@media (min-width:1430px) {
    .dynamic_header_link {
        margin-right: -40px;
    }
}